<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lib_account">
	<insert id="create">
		insert into lib_account
		values(#{email},#{pass},#{name},sysdate,#{phone},#{address},#{interest},#{card},#{carddate},#{cardname},#{cvc},0)
	</insert>
	<select id = "logon" resultType="hashmap">
		select * from lib_account where email=#{email} and pass=#{pass}
	</select>
</mapper>